/*** page.css ***/

#pg-banner-about-y {
  /* background-image: url("../image/page-banner.jpg"); */
  width: 1216px;
  height: 535px;
}
.sec-bar-y {
  background-color: transparent;
  background-image: url("../image/Bar.png");
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 12px;
}
.pg-btm-pd-mod-y {
  padding-bottom: 2px !important;
}
#Yahweh_Ben_Yahweh-y {
  display: block;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.style-width-y {
  width: 80%;
}

.pg-top-pd-mod-y {
  padding-top: 2px !important;
}
.pg-link-text-y {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 42px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.pg-top-mrgn-mod-y {
  margin-top: 2px !important;
}
.sec-text-y {
  width: 82%;
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pg-text-fmt-y {
  font-size: 38px;
  text-align: justify;
  line-height: 1;
}
.David-y {
  font-family: "David Libre", serif;
  font-size: 48px;
}
.pg-title-break-y {
  display: block;
  position: relative;
  margin-left: 9%;
  padding-top: 10px;
  padding-bottom: 1px;
}
.style-width-y {
  width: 90%;
}
#pg-btm-media-y {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
