@media screen and (max-width: 1024px) {

    #pg-banner-about-y {
        background-image: url("../image/page-banner.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 43.99%;
    }

    #title-img {
        width: 341px;
    }

    .sec-bar {
        background-color: transparent;
        background-image: url("../../images/Bar.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 12px;
        margin-top: 24px;
        margin-bottom: -9px;
    }

    #pg-btm-media {
        left: 0px;
    }
}

@media screen and (max-width: 768px) {

    .David {
        font-family: 'David Libre', serif;
        font-size: 35px;
        letter-spacing: -1.4px;
    }

    .pg-text-fmt {
        font-size: 30px;
        text-align: justify;
        line-height: 1;
        letter-spacing: .1px;
    }

    .sec-bar {
        background-color: transparent;
        background-image: url("../../images/Bar.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 12px;
        margin-top: 24px;
        margin-bottom: -9px;
    }

    #title-img {
        width: 241px;
    }

    .img-size {
        width: 63%;
    }

    #pg-btm-media {
        left: 0px;
    }
}

@media screen and (max-width: 480px) {

    .David {
        font-family: 'David Libre', serif;
        font-size: 27px;
        letter-spacing: -1.5px;
    }

    .pg-link-text {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 26px;
    }

    .pg-text-fmt {
        font-size: 22px;
        text-align: justify;
        line-height: 1;
        letter-spacing: .1px;
    }

    #pg-banner-about-y {
        background-image: url("../image/page-banner.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 43.99%;
    }

    #title-img {
        width: 201px;
    }

    .img-size {
        width: 63%;
    }

    .sec-bar {
        background-color: transparent;
        background-image: url("../../images/Bar.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 12px;
        margin-top: 24px;
        margin-bottom: -9px;
    }

    #pg-btm-media {
        left: 0px;
    }
}

@media screen and (max-width: 376px) {

    .pg-text-ltr-sp-9 {
        letter-spacing: .6px;
    }

}

@media screen and (max-width: 321px) {

    .pg-text-ltr-sp-8 {
        letter-spacing: .6px;
    }

    .pg-text-ltr-sp-9 {
        letter-spacing: .4px;
    }


}
