.center-buttons-home {
  width: 1216px;
  text-align: center;
}
.center-button-home {
  display: block;
  float: left;
  /* width: 303px; */
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

@media screen and (max-width: 1024px) {
  .center-buttons-home {
    width: 100%;
  }
  .center-button-home {
    width: 25%;
  }
  .center-button-img-home {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .center-buttons-home {
    width: 100%;
  }
  .center-button-home {
    width: 25%;
  }
  .center-button-img-home {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .center-buttons-home {
    width: 100%;
  }
  .center-button-home {
    width: 33.33%;
  }
  .center-button-img-home {
    width: 100%;
  }
}
