/* .center-buttons {
  width: 1216px;
  text-align: center;
}
.center-button {
  display: block;
  float: left;
}

@media screen and (max-width: 1024px) {
  .center-buttons {
    width: 100%;
  }

  .center-button {
    width: 25%;
  }

  .center-button-img {
    width: 100%;
  }

  .bk-button-img {
    width: 80%;
  }

  .sp-button-img {
    width: 65%;
  }

  .vidPos {
    padding-top: 20px;
  }

  .botm-button-pos {
    padding-left: 0%;
    padding-right: 0%;
  }

  .vid-width {
    width: 80%;
  }

  .vid-button-img {
    width: 210px;
  }

  .vid-button-pos {
    padding-left: 1%;
    padding-right: 1%;
  }

  .breakingnews-img {
    width: 60%;
  }

  .silver-back-img {
    display: none;
    width: 99.1%;
    height: 33.3%;
  }

  .latest-feast-img-wth {
    width: 67%;
  }

  .bn-div-fmt-p-sz-sp-bl {
    font-size: 44px;
  }
}

@media screen and (max-width: 768px) {
  .center-buttons {
    width: 100%;
  }

  .center-button {
    width: 25%;
  }

  .center-button-img {
    width: 100%;
  }

  .bk-button-img {
    width: 80%;
  }

  .sp-button-img {
    width: 60%;
  }

  .vidPos {
    padding-top: 20px;
  }

  .botm-button-pos {
    padding-left: 0%;
    padding-right: 0%;
  }

  .vid-width {
    width: 80%;
  }

  .vid-button-img {
    width: 80%;
  }

  .vid-button-pos {
    padding-left: 1%;
    padding-right: 1%;
  }

  .breakingnews-img {
    width: 60%;
  }

  .pg-text-ltr-sp1 {
    letter-spacing: 0.6px;
  }

  .rmb-text-fmt {
    font-size: 30px;
  }

  .rmb-p-fmt {
    width: 60%;
  }

  .latest-feast-img-wth {
    width: 67%;
  }

  .bn-div-fmt-p-sz-sp-bl {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .center-buttons {
    width: 100%;
  }

  .center-button {
    width: 33.33%;
  }

  .center-button-img {
    width: 100%;
  }

  .bk-button-img {
    width: 90%;
  }

  .sp-button-img {
    width: 75%;
  }

  .vidPos {
    padding-top: 20px;
  }

  .botm-button-pos {
    padding-left: 0%;
    padding-right: 0%;
  }

  .vid-width {
    width: 90%;
  }

  .vid-button-img {
    width: 100%;
  }

  .vid-button-pos {
    padding-left: 1%;
    padding-right: 1%;
  }

  .rmb-text-fmt {
    font-size: 20px;
  }

  .rmb-text-fmt-ctr {
    font-size: 20px;
  }

  .David-txt-sz {
    font-size: 24px;
  }

  .breakingnews-img {
    width: 70%;
  }

  .div-pad {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .bn-div-fmt-p-sz {
    font-size: 14px;
    margin-top: 8px;
  }

  .bn-div-fmt {
    padding-top: 0px;
  }

  .latest-feast-img-wth {
    width: 90%;
  }

  .bn-div-fmt-p-sz-sp-bl {
    font-size: 24px;
  }
} */

.center-buttons-home {
  width: 1216px;
  text-align: center;
}
.center-button-home {
  display: block;
  float: left;
  /* width: 303px; */
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

@media screen and (max-width: 1024px) {
  .center-buttons-home {
    width: 100%;
  }
  .center-button-home {
    width: 25%;
  }
  .center-button-img-home {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .center-buttons-home {
    width: 100%;
  }
  .center-button-home {
    width: 25%;
  }
  .center-button-img-home {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .center-buttons-home {
    width: 100%;
  }
  .center-button-home {
    width: 33.33%;
  }
  .center-button-img-home {
    width: 100%;
  }
}
