/*** page.css ***/

#backdrop-contact {
  background-image: url("../image/bgMetal1.jpg");
  /* background-repeat: no-repeat; */
  display: block;
  /* width: 1216px; */
  margin-left: auto;
  margin-right: auto;
  height: auto;
  min-height: 100%;
  z-index: -1;
}

#pg-banner-contact {
  background-image: url("../image/page-banner.jpg");
  width: 1216px;
  height: 535px;
}

#top-bar-gold-contact {
  background-image: url("../image/Gold_Bar_1216.jpg");
  width: 1216px;
  height: 44px;
}

#Yahweh_Ben_Yahweh-contact {
  display: block;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.Yahweh_Ben_Yahweh_width {
  width: 75%;
}

.img-size-mail {
  width: 121px;
}
.pg-btm-pd-mod-contact {
  padding-bottom: 40px !important;
}
.style-contact1 {
  width: 75%;
}
.sec-text-contact {
  width: 82%;
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pg-text-fmt-contact {
  font-size: 38px;
  text-align: justify;
  line-height: 1.1;
  padding-left: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.side-image-contact {
  display: inline-block;
  float: left;
  position: relative;
  top: 10px;
  height: 200px;
  padding-right: 24px;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.img-size-mail {
  width: 121px;
}
.pg-link-text-ul-contact {
  text-decoration: underline;
}
.side-clear-contact {
  clear: both;
}
.sec-bar-contact {
  background-color: transparent;
  background-image: url("../image/Bar.png");
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 12px;
}
.pg-top-pd-mod-contact {
  padding-top: 20px !important;
}
.side-padding-ls-contact {
  padding-left: 5%;
}
.side-padding-contact {
  padding-left: 40%;
}
.side-text-contact {
  display: inline-block;
  float: left;
}
.side-phone-contact {
  display: inline-block;
  float: left;
  position: relative;
  height: 120px;
  top: -10px;
  padding-left: 10px;
}
.img-size-phone-contact {
  width: 86px;
}
.wrapper-contact {
  display: block;
  position: relative;
  /* height: 420px; */
  width: 100%;
}
#Email_Us {
  display: block;
  position: absolute;
  top: 80px;
  padding-left: 25%;
  padding-right: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 42px;
  line-height: 1.5;
  z-index: 99;
}
#pg-btm-media-contact {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.bottom-media-img-contact {
  width: 100%;
}
.side-clear {
    clear: both;
}
