/*** page.css ***/

#pg-banner-cul {
  background-image: url("../image/page-banner.jpg");
  width: 1216px;
  height: 535px;
}

.sec-bar-cul {
  background-color: transparent;
  background-image: url("../image/Bar.png");
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 12px;
}
#top-bar-gold-cul {
  background-image: url("../image/Gold_Bar_1216.jpg");
  width: 1216px;
  height: 44px;
}
#The_Cultural_Attire_of {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.wid-cul {
  width: 80%;
}
.pg-top-pd-mod-cul {
  padding-top: 2px !important;
}
.sec-text-cul {
  width: 82%;
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pg-text-fmt-cul {
  font-size: 38px;
  text-align: justify;
  line-height: 1.1;
  letter-spacing: 1px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.David-cul {
  font-family: "David Libre", serif;
  font-size: 48px;
}
#pg-btm-media-cul {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.bottom-media-img-cul {
  width: 100%;
}
