@media screen and (max-width: 1024px) {
  #pg-banner-cul {
    /* background-image: url("../image/page-banner.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 43.99%;
  }

  .sec-bar-cul {
    background-color: transparent;
    background-image: url("../image/Bar.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 12px;
  }
  #top-bar-gold-cul {
    background-image: url("../image/Gold_Bar_1216.jpg");
    width: 100%;
    height: 44px;
  }
  #pg-btm-media-cul {
    left: 0px;
    width: 100%;
  }
  .bottom-media-img-cul {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #pg-banner-cul {
    /* background-image: url("../image/page-banner.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 43.99%;
  }
  .sec-bar-cul {
    background-color: transparent;
    background-image: url("../image/Bar.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 12px;
  }
  #top-bar-gold-cul {
    width: 100%;
    height: 32;
  }
  .sec-bar-cul {
    background-color: transparent;
    background-image: url("../image/Bar.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 12px;
  }
  .pg-text-fmt-cul {
    font-size: 30px;
    text-align: justify;
    line-height: 1;
    letter-spacing: 0.1px;
  }
  .David-cul {
    font-family: "David Libre", serif;
    font-size: 32px;
  }
  #pg-btm-media-cul {
    left: 0px;
    width: 100%;
  }
  .bottom-media-img-cul {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #pg-banner-cul {
    /* background-image: url("../image/page-banner.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 43.99%;
  }
  .sec-bar-cul {
    background-color: transparent;
    background-image: url("../image/Bar.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 12px;
    margin-top: 24px;
    margin-bottom: -9px;
  }
  #top-bar-gold-cul {
    width: 100%;
    height: 22px;
  }
  #The_Cultural_Attire_of {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 0px;
    position: relative;
  }
  .pg-text-fmt-cul {
    font-size: 22px;
    text-align: justify;
    line-height: 1;
    letter-spacing: 0.1px;
  }
  .David-cul {
    font-family: "David Libre", serif;
    font-size: 24px;
  }
  #pg-btm-media-cul {
    left: 0px;
  }
}

@media screen and (max-width: 376px) {
}

@media screen and (max-width: 321px) {
}
