@media screen and (max-width: 1024px) {
  #pg-banner-year {
    background-image: url("../image/page-banner.jpg");
    background-size: contain;
    background-repeat: repeat-y;
    width: 100%;
    height: 0;
    padding-top: 43.99%;
  }
  #top-bar-gold-year {
    background-image: url("../image/Gold_Bar_1216.jpg");
    width: 100%;
    height: 44px;
  }
  .sec-bar-year {
    background-color: transparent;
    background-image: url("../image/Bar.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 12px;
  }
  .book-cnt-year {
    display: inline-block;
    width: 32%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-size-year {
    width: 90%;
  }
  .bottom-media-img-year {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #pg-banner-year {
    background-image: url("../image/page-banner.jpg");
    background-size: contain;
    background-repeat: repeat-y;
    width: 100%;
    height: 0;
    padding-top: 43.99%;
  }
  #top-bar-gold-year {
    width: 100%;
    height: 34px;
  }
  .sec-bar-year {
    background-color: transparent;
    background-image: url("../image/Bar.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 12px;
  }
  .pg-line-break-end-year {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .bottom-media-img-year {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #pg-banner-year {
    background-image: url("../image/page-banner.jpg");
    background-size: contain;
    background-repeat: repeat-y;
    width: 100%;
    height: 0;
    padding-top: 43.99%;
  }
  #top-bar-gold-year {
    width: 100%;
    height: 22px;
  }
  .sec-bar-year {
    background-color: transparent;
    background-image: url("../image/Bar.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 12px;
  }
  .img-size-po-year {
    width: 45%;
  }
  .book-line-year {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .book-cnt-year {
    display: inline;
    width: 243px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .book-size-contain-year {
    width: 100%;
  }
  .img-size-year {
    width: 240px;
  }
  .lnk-info-text-year {
    margin-bottom: 24px;
  }
  .pg-line-break-end-year {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
